<!DOCTYPE html>
<html lang="es">

<head>

    {{>head}}

</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            {{>headerDash}}
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Anchetas</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row justify-content-end">
                <div class="input-group mb-3 col-4">
                    <input type="text" class="form-control" placeholder="Buscar Ancheta">
                    <div class="input-group-append">
                        <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h2 class="text-black">Crear Ancheta</h2>
                    <form>
                        <div class="form-group">
                            <label for="nombreAncheta">Nombre</label>
                            <input type="text" class="form-control" id="nombreAncheta" required>
                        </div>
                        <div class="form-group">
                            <label for="descAncheta">Descripción</label>
                            <input type="text" class="form-control" id="descAncheta" required>
                        </div>
                        <div class="d-flex justify-content-start">
                            <ul class="list-group">
                                <li class="list-group-item"><a href=""><span class="icon mr-4 icon-plus"></span></a>Chocolate</li>
                                <li class="list-group-item"><a href=""><span class="icon mr-4 icon-plus"></span></a>Vino</li>
                                <li class="list-group-item"><a href=""><span class="icon mr-4 icon-plus"></span></a>Cerveza</li>
                                <li class="list-group-item"><a href=""><span class="icon mr-4 icon-plus"></span></a>Papas</li>
                            </ul>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="estadoAncheta">
                            <label class="form-check-label" for="estadoAncheta">Disponible</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
                <div class="col-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Ancheta Navideña</td>
                                <td>Rico navidad</td>
                                <td>50.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ancheta Halloween</td>
                                <td>Brujitas susto miedo ancheta</td>
                                <td>45.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ancheta Padres</td>
                                <td>Papa feliz ancheta</td>
                                <td>34.000</td>
                                <td>Agotado</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            </div>
        </div>   

</body>
</html>