<!DOCTYPE html>
<html lang="es">

<head>

    {{>head}}

</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            {{>headerDash}}
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Anchetas</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2 class="text-black">Crear Ancheta</h2>
                    <form>
                        <div class="form-group">
                            <label for="nombreAncheta">Nombre</label>
                            <input type="text" class="form-control" id="nombreAncheta" required>
                        </div>
                        <div class="form-group">
                            <label for="descAncheta">Descripción</label>
                            <input type="text" class="form-control" id="descAncheta" required>
                        </div>
                        <div class="d-flex justify-content-start" style="margin-bottom: 7px;">
                            <ul class="list-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar Insumo">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                                            <button class="btn btn-outline" data-toggle="modal" data-target="#modalInsumos" type="button"><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalInsumos"></a></button>
                                        </div>
                                    </div>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-8"><a href="#" class="icon-plus"></a> Chocolate</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-8"><a href="#" class="icon-plus"></a> Vino</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-8"><a href="#" class="icon-plus"></a> Cerveza
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-8"><a href="#" class="icon-plus"></a> Papas Fritas</div>
                                            </div>
                                        </li>
                            </ul>
                        </div>
                        <h5>Total: 0$</h5>
                        <div class="form-check" style="margin-bottom: 7px;">
                            <input type="checkbox" class="form-check-input" id="estadoAncheta">
                            <label class="form-check-label" for="estadoAncheta">Disponible</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                        <button type="submit" class="btn btn-dark">Cancelar</button>
                    </form>
                </div>
                <div class="col-8">
                    <div class="row justify-content-end">
                        <div class="input-group mb-3 col-6">
                            <input type="text" class="form-control" placeholder="Buscar Ancheta">
                            <div class="input-group-append">
                                <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                            </div>
                        </div>
                    </div>
                <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Insumos</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Ancheta Navideña</td>
                                <td><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalAnchetaDetalle"></a></td>
                                <td>90.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ancheta Halloween</td>
                                <td><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalAnchetaDetalle"></a></td>
                                <td>135.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Ancheta Padres</td>
                                <td><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalAnchetaDetalle"></a></td>
                                <td>42.000</td>
                                <td>Agotado</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Ancheta Madres</td>
                                <td><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalAnchetaDetalle"></a></td>
                                <td>42.000</td>
                                <td>Agotado</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Ancheta Cumpleañera</td>
                                <td><a href="#" class="icon-eye" data-toggle="modal" data-target="#modalAnchetaDetalle"></a></td>
                                <td>67.000</td>
                                <td>Agotado</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            </div>
        </div> 

                    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="eliminarAncheta" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h2>¿Estás seguro que desea eliminar esta ancheta?</h2>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h6>Esta operación es irreversible</h6>
                    </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="submit" class="btn btn-dark">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="modalInsumos" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Insumos de la Ancheta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                            <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col"><a href="#" class="icon-minus" data-toggle="modal" data-target="#modalInsumos"></a> Chocolate</div>
                                                <div class="col-md-auto">
                                                     <div class="input-group" style="max-width: 140px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-md-auto">
                                                    <h5>0$</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col"><a href="#" class="icon-minus" data-toggle="modal" data-target="#modalInsumos"></a> Vino</div>
                                                <div class="col-md-auto">
                                                     <div class="input-group" style="max-width: 140px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-md-auto">
                                                    <h5>0$</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col"><a href="#" class="icon-minus" data-toggle="modal" data-target="#modalInsumos"></a> Cerveza</div>
                                                <div class="col-md-auto">
                                                     <div class="input-group" style="max-width: 140px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-md-auto">
                                                    <h5>0$</h5>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col"><a href="#" class="icon-minus" data-toggle="modal" data-target="#modalInsumos"></a> Papas Fritas</div>
                                                <div class="col-md-auto">
                                                     <div class="input-group" style="max-width: 140px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                    </div>
                                                </div>  
                                                <div class="col-md-auto">
                                                    <h5>0$</h5>
                                                </div>
                                            </div>
                                        </li>
                            </ul>
                        </div>
                </div>
                <div class="modal-footer">
                        <h3>Total:</h3>
                        <h3>0$</h3>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

            <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="modalAnchetaDetalle" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Insumos de la Ancheta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Descripcion</h6>
                    <p>Brujita susto miedo ancheta que miedo tenebroso espeluznantee</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Insumo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">1</th>
                                <td>Chocolate</td>
                                <td>5</td>
                                <td>16.000</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Vino</td>
                                <td>2</td>
                                <td>100.000</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cerveza</td>
                                <td>4</td>
                                <td>19.000</td>
                            </tr>
                        </tbody>
                    </table>
                <div class="modal-footer">
                        <h3>Total:</h3>
                        <h3>135.000$</h3>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/anchetas.js"></script>
    <script src="assets/js/main.js"></script> 


</body>
</html>