<!DOCTYPE html>
<html lang="es">

<head>

    {{>head}}

</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            {{>headerDash}}
        </header>


        <div class="row">
            <div class="col mt-5">
                <div class="site-section site-section-sm site-blocks-1 mt-5 " id="chart">

                </div>
            </div>
            <div class="col">
                <div class="row justify-content-end mr-3 mt-5">
                    <div class="input-group  col-6">
                        <input type="date" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                        </div>
                    </div>
                </div>
                <div class="site-section site-section-sm site-blocks-1 " id="grafica2">

                </div>
            </div>
        </div>

        <footer class="site-footer border-top">
            {{>footer}}
        </footer>
    </div>

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/graficas.js"></script>

</body>

</html>