    <!DOCTYPE html>
<html lang="es">

<head>

    {{>head}}
    <link rel="stylesheet" href="assets/css/insumos.css">
</head>

<body>
    <div id="overlay"></div>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            {{>headerDash}}
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Insumos</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
            <div class="row">
                <div class="col-4" id="crear">
                    <br>
                    <h2 class="text-black" id="title">Crear Insumo</h2>
                        <div class="form-group">
                            <label for="nombreInsumo">Nombre</label>
                            <input type="text" class="form-control" id="nombreInsumo" >
                            <p id="nombreInsumoErr">Porfavor ingrese un nombre v치lido</p>
                        </div>
                        <div class="form-group">
                            <label for="descInsumo">Descripci칩n</label>
                            <input type="text" class="form-control" id="descInsumo">
                            <p id="descInsumoErr">Porfavor ingrese una descripcion v치lida</p>
                        </div>
                        <div class="form-group">
                            <label for="precioInsumo">Precio</label>
                            <input type="text" class="form-control" id="precioInsumo">
                            <p id="precioInsumoErr">Porfavor ingrese un precio v치lido</p>
                        </div>
                        <div class="form-check" style="margin-bottom: 7px;">
                            <input type="checkbox" class="form-check-input" id="estadoInsumo">
                            <label class="form-check-label" for="estadoInsumo">Disponible</label>
                        </div>
                        <button type="submit" class="btn btn-primary" id="crearInsumo">Crear</button>
                        <button type="submit" class="btn btn-primary" id="modInsumo" style="display:none; background-color:#d8b4ec; border-color:#d8b4ec" onclick="insumoModificado()">Modificar</button>
                        <button type="submit" class="btn btn-dark" id="cancelarInsumo">Cancelar</button>
                </div>
                <div class="col-8" id="styleTablaInsumos">
                    <div class="row justify-content-end">
                        <div class="input-group mb-3 col-6">
                            <input type="text" class="form-control" placeholder="Buscar Insumo">
                            <div class="input-group-append">
                                <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Estado</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Chocolate</td>
                                <td>Chocolate Jumbo 100 gr</td>
                                <td>3.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit" onclick="modificarInsumo()"></a></td>
                                <td><a href="#" class="icon-trash" onclick="eliminarInsumo()"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Vino</td>
                                <td>Vino tinto Casa Blanca 750 ml</td>
                                <td>45.000</td>
                                <td>Disponible</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cerveza</td>
                                <td>Cerveza corona 355 ml</td>
                                <td>4.500</td>
                                <td>Agotado</td>
                                <td><a href="#" class="icon-edit"></a></td>
                                <td><a href="#" class="icon-trash" data-toggle="modal" data-target="#eliminarAncheta"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            </div>
        </div>   
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/insumos.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/main.js"></script> 


</body>
</html>