<!DOCTYPE html>
<html lang="es">

<head>

    {{>head}}

</head>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            {{>headerDash}}
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Ventas</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h3 mb-3 text-black">Mira tu historial de ventas</h2>
                    </div>
                    <div class="col-12">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre Cliente</th>
                                    <th scope="col">Detalle</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Magnolia</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>20/12/2022</td>
                                    <td>Crr52#27-234</td>
                                    <td>5</td>
                                    <td>50.000</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Edgardo</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>20/12/2022</td>
                                    <td>Crr52#27-234</td>
                                    <td>5</td>
                                    <td>50.000</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Diego</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>20/12/2022</td>
                                    <td>Crr52#27-234</td>
                                    <td>5</td>
                                    <td>50.000</td>
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer border-top">
            {{>footer}}
        </footer>
    </div>




    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="modalPedidos" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Anchetas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Ancheta</th>
                                <th scope="col">Insumos</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">1</th>
                                <td>Ancheta Navideña</td>
                                <td><a href="#" class=" icon-eye" data-toggle="modal" data-target="#modalInsumos"></a>
                                </td>

                                <td>5</td>
                                <td>50.000</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>

                                <td><a href="#" class=" icon-eye" data-toggle="modal" data-target="#modalInsumos"></a>
                                </td>

                                <td>4</td>
                                <td>50.000</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>

                                <td><a href="#" class=" icon-eye" data-toggle="modal" data-target="#modalInsumos"></a>
                                </td>

                                <td>3</td>
                                <td>50.000</td>

                                <td><a href="#" class="icon-remove"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <h3>Total:</h3>
                    <h3>150.000</h3>
                </div>
            </div>
        </div>
    </div>




    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="modalInsumos" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Insumos de la Ancheta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Insumo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        

<tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Magnolia</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>20/12/2022</td>
                                    <td>Crr56#72-23</td>
                                    <td>5</td>
                                    <td>50.000</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Edgardo</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>22/11/2022</td>
                                    <td>Crr43#12-234</td>
                                    <td>2</td>
                                    <td>30.000</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Diego</td>
                                    <td><a href="#" class=" icon-plus" data-toggle="modal"
                                            data-target="#modalPedidos"></a></td>
                                    <td>06/09/2022</td>
                                    <td>Crr34#73-34</td>
                                    <td>1</td>
                                    <td>20.000</td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <h3>Total:</h3>
                    <h3>150.000</h3>
                </div>
            </div>
        </div>
    </div>




    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="modalModificar" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Insumos de la Ancheta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                                            <div class="d-flex justify-content-center">
                            <ul class="list-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar Insumo">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline" type="button"><a href="#" class="icon-search"></a></button>
                                        </div>
                                    </div>
                                <li class="list-group-item mt-2">
                                    <div class="row">
                                        <div class="col-4">Chocolate</div>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" class="form-control input-number" value="3" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4">Vino</div>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" class="form-control input-number" value="1" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4">Cerveza</div>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" class="form-control input-number" value="2" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4">Papas Fritas</div>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" class="form-control input-number" value="2" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-outline">
                                                        <span class="icon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Modificar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/pedidos.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>