<div class="container">
  <div class="row">

    <div class="col-md-6 col-lg-12">

      <div class="block-7">
        <form action="#" method="">
          <label
            for="email_subscribe"
            class="footer-heading"
          >Escribenos!</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control py-4"
              id="email_subscribe"
              placeholder=""
            />
            <input type="submit" class="btn btn-sm btn-primary" value="envia" />
          </div>
        </form>
      </div>
      <br>
      <div class="block-5 mb-5">
        <h3 class="footer-heading mb-4">Información de contacto:</h3>
        <div class="row">
          <div class="col">
            <ul>
              <li class="address">Crr 53 # 43-197</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li class="phone"><a href="tel://23923929210">+57 563 627 37 26</a></li>

            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">
              <li class="email">amjor@gmail.com</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="row pt-0 mt-5 text-center">
    <div class="col-md-12">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script
          data-cfasync="false"
          src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
        ></script>
        <script>document.write(new Date().getFullYear());</script>
        Todos los derechos reservados | Plantilla de colorlib <i
          class="icon-heart"
          aria-hidden="true"
        ></i>
        de
        <a
          href="https://colorlib.com"
          target="_blank"
          class="text-primary"
        >Amjor</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>

  </div>
</div>