<!DOCTYPE html>
<html lang="es">

<head>

  {{>head}}

</head>

<body>

  <div class="site-wrap">

    <header class="site-navbar" role="banner">

      {{>header}}

    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Inicio</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Nosotros</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="assets/images/imagenlogo.jpg" alt="Image placeholder" class="img-fluid rounded">

              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">


            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">¿Quiénes somos?</h2>
            </div>
            <p>AMJOR “hecho con amor” es una compañía fundada en 2016, dedicada a la preparación, empaque y 
              distribución de postres y anchetas en el área metropolitana, con el fin de deleitar y acompañar 
              las reuniones y fiestas tanto familiares como de amigos. Somos una empresa que poco a poco se da 
              a conocer en el mercado y que crece con cada uno de sus clientes.
              <br><br>
              Nuestra misión se basa en satisfacer las necesidades de los consumidores, elaborando productos 
              innovadores de alta calidad, económicos, que alimenten y deleiten el paladar. Para ello contamos 
              con un personal comprometidos con los valores corporativos y la preservación del medio ambiente.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7  text-center pt-4">
            
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-12">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="assets/images/susana.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Susana Henao</h3>
                  <p class="block-38-subheading">Fundadora de Amjor</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br><br>
{{>footer}}

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/aos.js"></script>

  <script src="assets/js/main.js"></script>

</body>

</html>