<!DOCTYPE html>
<html lang="es">

<head>

  {{>head}}

</head>

<body>

  <div class="site-wrap">
    <header class="site-navbar" role="banner">

      {{>header}}

    </header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Inicio</a> <span class="mx-2 mb-0">/</span> <a
              href="cart.html">Carrito de compras</a> <span class="mx-2 mb-0">/</span> <strong
              class="text-black">Información personal</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="border p-4 rounded" role="alert">
              ¿Tienes una cuenta? <a href="#">Click aquí</a> para iniciar sesión
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Información</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group">
                <label for="c_country" class="text-black">País de residencia <span class="text-danger">*</span></label>
                <select id="c_country" class="form-control">
                  <option value="1">Colombia</option>
                  <!-- 
                  <option value="1">Selecciona un país</option>

                  <option value="2">bangladesh</option>
                  <option value="3">Algeria</option>
                  <option value="4">Afghanistan</option>
                  <option value="5">Ghana</option>
                  <option value="6">Albania</option>
                  <option value="7">Bahrain</option>
                  <option value="9">Dominican Republic</option> -->
                </select>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="nombres" class="text-black">Nombres <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="nombres" name="nombres">
                </div>
                <div class="col-md-6">
                  <label for="apellidos" class="text-black">Apellidos <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="apellidos" name="apellidos">
                </div>
              </div>
              <!-- 
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black">Company Name </label>
                  <input type="text" class="form-control" id="c_companyname" name="c_companyname">
                </div>
              </div>
              -->
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="direccion_entrega" class="text-black">Dirección de entrega <span
                      class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="direccion_entrega" name="direccion_entrega"
                    placeholder="Dirección donde se entregará el pedido">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Apartamento, suite, torre etc. (opcional)">
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="municipio" class="text-black">Municipio <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="municipio" name="municipio">
                </div>
                <div class="col-md-6">
                  <label for="barrio" class="text-black">Barrio <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="barrio" name="barrio">
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="correo_electronico" class="text-black">Correo electrónico <span
                      class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="correo_electronico" name="correo_electronico"
                    placeholder="tucorreo@gmail.com">
                </div>
                <div class="col-md-6">
                  <label for="numero_celular" class="text-black">Celular <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="numero_celular" name="numero_celular" placeholder="Número de celular">
                </div>
              </div>

              <div class="form-group">
                <label for="notas_adicionales" class="text-black">Notas adicionales</label>
                <textarea name="notas_adicionales" id="notas_adicionales" cols="30" rows="5" class="form-control"
                  placeholder="Aquí puedes escribir cualquier información adicional que desees brindarnos..."></textarea>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Tu pedido</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Producto</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ancheta 1 <strong class="mx-2">x</strong> 1</td>
                        <td>$49.900</td>
                      </tr>
                      <tr>
                        <td>Ancheta 2<strong class="mx-2">x</strong> 1</td>
                        <td>$55.000</td>
                      </tr>
                      <tr>
                        <td><strong class="mx-2"> </strong>  </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Costo del envío</td>
                        <td>$10.000</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Subtotal</strong></td>
                        <td class="text-black">$114.900</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>$114.900</strong></td>
                      </tr>
                    </tbody>
                  </table>

<!--
                  <div class="border p-3 mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                        aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                    <div class="collapse" id="collapsebank">
                      <div class="py-2">
                        <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as
                          the payment reference. Your order won’t be shipped until the funds have cleared in our
                          account.</p>
                      </div>
                    </div>
                  </div>
-->

                  <div class="border p-3 mb-3">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapse-contraentrega" role="button"
                        aria-expanded="false" aria-controls="collapse-contraentrega">Pago contra entrega</a></h3>

                    <div class="collapse" id="collapse-contraentrega">
                      <div class="py-2">
                        <p class="mb-0">Pagas cuando el producto llegue a la dirección que nos proporcionaste. Si no se paga en ese momento, el producto no podrá ser entregado.</p>
                      </div>
                    </div>
                  </div>

                  <div class="border p-3 mb-5">
                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="collapsepaypal">Por el momento no contamos con más métodos de pago.</a></h3>


                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary btn-lg py-3 btn-block" id="boton-realizarPedido" >Realizar
                      pedido</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>





    <footer class="site-footer border-top">
      {{>footer}}
    </footer>
  </div>

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/aos.js"></script>

  <script src="js/main.js"></script>
  <script src="assets/js/validaciones/validaciones-carrito.js"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>