<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Login.css">
    
    <title>Recuperar Contrase침a</title>
  </head>
  <body>
    <div class="login-box">
     <h1>Recuperar tu contrase침a: </h1>
      <form>
        <div class="user-box">

          <input type="text" name="correo" id="correo" required>
          
          <label>Correo </label>
        </div>
        <center><div>
        
        
          <a href="/restablecerContrasena" class="hp" >Enviar c칩digo de confirmaci칩n</a> 
        </div></center>
      </form>
    </div>
    </div>

    <script src="assets/js/promesaLogin.js"></script>
  </body>
</html>

