<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/Login.css">
    
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <div class="login-box">
     <h1>Restablecer su contraseña </h1>
      <form>
        <div class="user-box">
          <input type="text" name="correo" id="correo" required>
          <label>Nueva contraseña </label>
        </div>
        <div class="user-box">
          <input type="text" name="correo" id="correo" required>
          <label>Confirmar contraseña </label>
        </div>

        <center><div>
        
        <a id="botonrc" href="/login">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Cambiar contraseña </a>
          
        </div></center>

      </form>
    </div>
    </div>

    <script src="assets/js/promesaLogin.js"></script>
  </body>
</html>

